.App {
  text-align: center;
  font-family: "Montserrat", sans-serif;
}

.App-header {
  background-color: #33a6da;
  height: 10vh;
  display: flex;
  color: white;
  align-items: center;
}
.App-header h1 {
  color: black;
  font-size: 24px;
  padding: 2rem;
  margin-bottom: 1rem;
}
.card-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #222222;
  width: 100%;
  height: 90vh;
  /* border: 1px solid red; */
}

.card-container .button-container {
  display: flex;
  justify-content: space-between;
  background-color: #222222;
  color: white;
  font-size: 16px;
  /* border: 1px solid red; */
  width: 55%;
}
.card-container .side-buttons {
  background-color: #222222;
  color: white;
  font-size: 24px;
  border: none;
  /* border: 1px solid red; */
}
section {
  display: flex;
  margin: 0.5rem;
}
.crud-buttons {
  height: 55px;
  width: 70px;
  background-color: #33a6da;
  color: white;
  border-radius: 20px;
  border: none;
  font-weight: bold;
  margin: 0.25rem;
}
.card {
  display: flex;
  flex-direction: column;
  align-items: left;
  background-color: #ebebeb;
  color: #222222;
  width: 50%;
  padding: 2rem;
  /* border: 1px solid red; */
  margin: 2rem 2rem 0 2rem;
}

.card .top {
  text-align: right;
  margin-top: -3rem;
  margin-right: -1.5rem;
  padding: 0;
}
.card .title {
  text-decoration: underline;
  text-decoration-color: #33a6da;
  font-size: 32px;
  font-weight: bold;
  margin: -2rem 0;
  padding: 0;
}
.card .main {
  line-height: 0.25rem;
}
.card .bottom {
  /* border: 1px solid red; */
  line-height: 1.5rem;
  height: 15vh;
}

.card .bottom div {
  margin-bottom: -1rem;
  font-size: 16px;
  font-weight: bold;
  /* border: 1px solid red; */
}
.card .bottom p {
  margin-bottom: -1rem;
  font-size: 16px;
  margin-left: 2rem;
  /* border: 1px solid red; */
}
